<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<!-- dataSource -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://localhost:3306/assetms">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/mars/vo/Parameter.hbm.xml</value>
				<value>com/mars/vo/Department.hbm.xml</value>
				<value>com/mars/vo/User.hbm.xml</value>
				<value>com/mars/vo/Role.hbm.xml</value>
				<value>com/mars/vo/AssetCategory.hbm.xml</value>
				<value>com/mars/vo/PurchaseDetail.hbm.xml</value>
				<value>com/mars/vo/AssetReturn.hbm.xml</value>
				<value>com/mars/vo/CheckDetail.hbm.xml</value>
				<value>com/mars/vo/Repairs.hbm.xml</value>
				<value>com/mars/vo/AssetTrans.hbm.xml</value>
				<value>com/mars/vo/Asset.hbm.xml</value>
				<value>com/mars/vo/Scrap.hbm.xml</value>
				<value>com/mars/vo/Checked.hbm.xml</value>
				<value>com/mars/vo/TransBills.hbm.xml</value>
				<value>com/mars/vo/PurchaseNote.hbm.xml</value>
				<value>com/mars/vo/Finance.hbm.xml</value>
				<value>com/mars/vo/AssetTransDetail.hbm.xml</value></list>
		</property>
	</bean>
	<!-- task manager -->
	<bean id="myHibTransactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- task notice -->
	<tx:advice id="txAdvice" transaction-manager="myHibTransactionManager">
		<tx:attributes>
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="saveOrUpdate*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="deleteSelected*" propagation="REQUIRED" />
			<tx:method name="assign*" propagation="REQUIRED" />
			<tx:method name="logTurndetail" propagation="REQUIRED" />
			<tx:method name="*" propagation="SUPPORTS"></tx:method>
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<!-- 定义切入点！（设置织入切面的位置） -->
		<aop:pointcut id="bizMethods"
			expression="execution(* com.service.impl.service.*.*(..))" />
		<!-- 定义advisor（通知+切入点） -->
		<aop:advisor advice-ref="txAdvice" pointcut-ref="bizMethods" />
	</aop:config>




<!-- 杨铮 start-->
<!-- 3 dao -->
	<bean id="userDao" class="com.mars.dao.impl.UserDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<!-- 2 service -->
	<bean id="userService" class="com.mars.service.impl.UserService">
		<property name="userDao" ref="userDao" />
	</bean>
	<!-- 1 action -->
	<bean id="UserLoginAction" class="com.mars.action.UserLoginAction" scope="prototype">
		<property name="userService" ref="userService" />
	</bean>
<bean id="UserAction" class="com.mars.action.UserAction" scope="prototype">
		<property name="userService" ref="userService" />
	</bean>
	
	
	
	<!-- 3 dao -->
	<bean id="returnDao" class="com.mars.dao.impl.ReturnDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<!-- 2 service -->
	<bean id="returnService" class="com.mars.service.impl.ReturnService">
		<property name="returnDao" ref="returnDao" />
	</bean>
	<!-- 1 action -->
	<bean id="ReturnAction" class="com.mars.action.ReturnAction" scope="prototype">
		<property name="returnService" ref="returnService" />
	</bean>
	
	<!-- 3 dao -->
	<bean id="roleDao" class="com.mars.dao.impl.RoleDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<!-- 2 service -->
	<bean id="roleService" class="com.mars.service.impl.RoleService">
		<property name="roleDao" ref="roleDao" />
	</bean>
	<!-- 1 action -->
	<bean id="RoleAction" class="com.mars.action.RoleAction" scope="prototype">
		<property name="roleService" ref="roleService" />
	</bean>
	
	
	
	<!-- 3 dao -->
	<bean id="purchasedao" class="com.mars.dao.impl.PurchaseDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<!-- 2 service -->
	<bean id="purchaseservice" class="com.mars.service.impl.PurchaseService">
		<property name="purchasedao" ref="purchasedao" />
	</bean>
	<!-- 1 action -->
	<bean id="PurchaseAction" class="com.mars.action.PurchaseAction" scope="prototype">
		<property name="purchaseservice" ref="purchaseservice" />
	</bean>
	
	
	
		<!-- 3 dao -->
	<bean id="purdetaildao" class="com.mars.dao.impl.PurDetailDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<!-- 2 service -->
	<bean id="purdetailservice" class="com.mars.service.impl.PurDetailService">
		<property name="purdetaildao" ref="purdetaildao" />
	</bean>
	<!-- 1 action -->
	<bean id="PurDetailAction" class="com.mars.action.PurDetailAction" scope="prototype">
		<property name="purdetailservice" ref="purdetailservice" />
	</bean>

<!-- ye -->
	<!-- 资产类别 start -->

	<!-- dao -->
	<bean id="assetCategoryDao" class="com.mars.dao.impl.AssetCategoryDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<!-- Service -->
	<bean id="assetCategoryService" class="com.mars.service.impl.AssetCategoryService">
		<property name="assetCategoryDao" ref="assetCategoryDao" />
	</bean>
	<!-- Action -->
	<bean id="AssetCategoryAction" class="com.mars.action.AssetCategoryAction"
		scope="prototype">
		<property name="assetCategoryService" ref="assetCategoryService" />
	</bean>

	<!-- 资产类别 end -->

	<!-- 部门 start -->

	<!-- dao -->
	<bean id="departmentDao" class="com.mars.dao.impl.DepartmentDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<!-- Service -->
	<bean id="departmentService" class="com.mars.service.impl.DepartmentService">
		<property name="departmentDao" ref="departmentDao" />
	</bean>
	<!-- Action -->
	<bean id="DepartmentAction" class="com.mars.action.DepartmentAction"
		scope="prototype">
		<property name="departmentService" ref="departmentService" />
	</bean>

	<!-- 部门 end -->

	<!-- 参数信息 start -->

	<!-- dao -->
	<bean id="parameterDao" class="com.mars.dao.impl.ParameterDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<!-- Service -->
	<bean id="parameterService" class="com.mars.service.impl.ParameterService">
		<property name="parameterDao" ref="parameterDao" />
	</bean>
	<!-- Action -->
	<bean id="ParameterAction" class="com.mars.action.ParameterAction"
		scope="prototype">
		<property name="parameterService" ref="parameterService" />
	</bean>

	<!-- 参数信息 end -->

	<!-- 资产信息start -->
	<!-- dao -->
	<bean id="assetDao" class="com.mars.dao.impl.AssetDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<!-- Service -->
	<bean id="assetService" class="com.mars.service.impl.AssetService">
		<property name="assetDao" ref="assetDao" />
	</bean>
	<!-- Action -->
	<bean id="AssetAction" class="com.mars.action.AssetAction" scope="prototype">
		<property name="assetService" ref="assetService" />
	</bean>

	<!-- 资产信息end -->

	<!-- 财务入账start -->
	<!-- dao -->
	<bean id="financeDao" class="com.mars.dao.impl.FinanceDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<!-- Service -->
	<bean id="financeService" class="com.mars.service.impl.FinanceService">
		<property name="financeDao" ref="financeDao" />
	</bean>
	<!-- Action -->
	<bean id="FinanceAction" class="com.mars.action.FinanceAction"
		scope="prototype">
		<property name="financeService" ref="financeService" />
	</bean>

	<!-- 财务入账end -->
	
	<!-- 维修start -->
	<!-- dao -->
	<bean id="repairsDao" class="com.mars.dao.impl.RepairsDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<!-- Service -->
	<bean id="repairsService" class="com.mars.service.impl.RepairsService">
		<property name="repairsDao" ref="repairsDao" />
	</bean>
	<!-- Action -->
	<bean id="RepairsAction" class="com.mars.action.RepairsAction"
		scope="prototype">
		<property name="repairsService" ref="repairsService" />
	</bean>

	<!-- 维修end -->
	
	<!-- 报废start -->
	<!-- dao -->
	<bean id="scrapDao" class="com.mars.dao.impl.ScrapDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<!-- Service -->
	<bean id="scrapService" class="com.mars.service.impl.ScrapService">
		<property name="scrapDao" ref="scrapDao" />
	</bean>
	<!-- Action -->
	<bean id="ScrapAction" class="com.mars.action.ScrapAction"
		scope="prototype">
		<property name="scrapService" ref="scrapService" />
	</bean>

	<!-- 报废end -->
	
		<!-- 调拨start -->
	<!-- dao -->
	<bean id="transBillsDao" class="com.mars.dao.impl.TransBillsDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<!-- Service -->
	<bean id="transBillsService" class="com.mars.service.impl.TransBillsService">
		<property name="transBillsDao" ref="transBillsDao" />
	</bean>
	<!-- Action -->
	<bean id="TransBillsAction" class="com.mars.action.TransBillsAction"
		scope="prototype">
		<property name="transBillsService" ref="transBillsService" />
	</bean>

	<!-- 调拨end -->
		<!-- 盘点start -->
	<!-- dao -->
	<bean id="checkedDao" class="com.mars.dao.impl.CheckedDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<!-- Service -->
	<bean id="checkedService" class="com.mars.service.impl.CheckedService">
		<property name="checkedDao" ref="checkedDao" />
	</bean>
	<!-- Action -->
	<bean id="CheckedAction" class="com.mars.action.CheckedAction"
		scope="prototype">
		<property name="checkedService" ref="checkedService" />
	</bean>

	<!-- 盘点end -->
		<!-- 移交start -->
	<!-- dao -->
	<bean id="assetTransDao" class="com.mars.dao.impl.AssetTransDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	 Service 
	<bean id="assetTransService" class="com.mars.service.impl.AssetTransService">
		<property name="assetTransDao" ref="assetTransDao" />
	</bean>
	 Action 
	<bean id="AssetTransAction" class="com.mars.action.AssetTransAction"
		scope="prototype">
		<property name="assetTransService" ref="assetTransService" />
	</bean>

	<!-- 移交end -->
		<!-- 移交清单start -->
	<!-- dao -->
	<bean id="assetTransDetailDao" class="com.mars.dao.impl.AssetTransDetailDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	 Service 
	<bean id="assetTransDetailService" class="com.mars.service.impl.AssetTransDetailService">
		<property name="assetTransDetailDao" ref="assetTransDetailDao" />
	</bean>
	 Action 
	<bean id="AssetTransDetailAction" class="com.mars.action.AssetTransDetailAction"
		scope="prototype">
		<property name="assetTransDetailService" ref="assetTransDetailService" />
	</bean>

	<!-- 移交清单end -->
	
		<!-- 盘点清单start -->
	<!-- dao -->
	<bean id="checkDetailDao" class="com.mars.dao.impl.CheckDetailDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<!-- Service -->
	<bean id="checkDetailService" class="com.mars.service.impl.CheckDetailService">
		<property name="checkDetailDao" ref="checkDetailDao" />
	</bean>
	<!-- Action -->
	<bean id="CheckDetailAction" class="com.mars.action.CheckDetailAction"
		scope="prototype">
		<property name="checkDetailService" ref="checkDetailService" />
	</bean>

	<!-- 盘点清单end -->
	
</beans>